/* ============ COMMON STYLES ============ */

:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--slate);
  background-color: var(--white);
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

section {
  padding: 96px 0;
}

.no-scroll {
  overflow-y: hidden;
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/* ============ HEADER STYLES ============ */

.header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
}

.menu,
.address {
  display: none;
}

.logo-link {
  display: block;
  padding: 16px 0;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: left;
  text-transform: uppercase;
  color: var(--iris);
}

.logo-header {
  color: var(--navy-blue);
}

.navigation {
  margin-right: auto;
}

.btn-burger {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.icon-burger {
  display: block;
  fill: var(--navy-blue);
}

@media screen and (min-width: 768px) {
  .btn-burger {
    display: none;
  }

  .navigation {
    display: flex;
    align-items: center;
  }

  .logo-link {
    padding: 24px 0;
    margin-right: 120px;
  }
  .menu {
    display: flex;
    gap: 40px;
  }

  .nav-link {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--navy-blue);
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link:hover,
  .nav-link:focus {
    color: var(--ocean);
  }

  .current {
    position: relative;
    color: var(--ocean);
  }

  .current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: var(--ocean);
    border-radius: 2px;
    height: 4px;
    width: 100%;
  }

  .address {
    display: block;
    font-style: normal;
  }

  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .auth-nav {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: var(--slate);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .auth-nav:hover,
  .auth-nav:focus {
    color: var(--ocean);
  }
}

@media screen and (min-width: 1158px) {
  .logo-link {
    margin-right: 76px;
  }

  .contacts-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .auth-nav {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
  }
}

/* ============ MOBAIL MENU ============ */

.mobail-menu {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--white);
  padding: 72px 16px 40px;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobail-menu.is-open {
  opacity: 1;
  visibility: visible;
}
.mobail-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--dairy);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobail-close-btn:focus {
  background-color: var(--ocean);
  border: none;
}
.mobail-close-btn:hover {
  background-color: var(--ocean);
  border: none;
}
.mobail-close-btn:hover .close-svg {
  fill: var(--white);
}
.mobail-close-btn:focus .close-svg {
  fill: var(--white);
}
.mobail-nav {
  margin-bottom: 168px;
}
.mobail-nav--list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.mobail-nav--list-link {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobail-nav--list-link:hover {
  color: var(--ocean);
}
.mobail-nav--list-link:focus {
  color: var(--ocean);
}
.mobail-nav--list-link.active {
  color: var(--ocean);
}
.mobail-contact {
  margin-bottom: 48px;
}
.mobail-contact--list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.mobail-contact--link {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-style: normal;
  color: var(--slate);
  display: inline-block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobail-contact--link:hover {
  color: var(--ocean);
}
.mobail-contact--link:focus {
  color: var(--ocean);
}
.mobail-list--social-list {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.mobail-list--social-item {
  width: 40px;
  height: 40px;
}
.mobail-list--social-link {
  width: 100%;
  height: 100%;
  background-color: var(--ocean);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobail-list--social-link:hover {
  background-color: var(--ocean);
}
.mobail-list--social-link:focus {
  background-color: var(--ocean);
}
.mobail-list--social-svg {
  fill: var(--cloud);
}

/* ============ SECTION ONE ============ */

.section-one {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 72px 0;
  background: var(--navy-blue);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/section-one/hero-bg-mob-min.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white);
  margin: 0 auto;
  max-width: 216px;
}

.hero-button {
  display: block;
  text-align: center;
  height: 56px;
  min-width: 169px;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  margin-top: 48px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: var(--iris);
}

.button-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button:hover,
button:focus {
  background-color: var(--ocean);
}

/* ============ SECTION TWO ============ */

.section-two {
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list-title-text {
  display: flex;
  flex-direction: column;
  gap: 72px;
  padding: 0;
  margin: 0;
}

.list-title {
  width: 100%;
}

.icon-directions {
  display: none;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--slate);
  border-radius: 4px;
  height: 112px;
  background: var(--cloud);
  margin-bottom: 8px;
}

.icon-directions {
  display: none;
}

.icon-section-two {
  fill: none;
}

.title-text {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
  margin-bottom: 8px;
}

.title-directions-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  text-align: left;

}

/* ============ SECTION THREE ============ */

.section-three {
  background: var(--cloud);
  margin: 0 auto;
}

.list-title-team {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 72px;
  width: calc(100% - 24px);
  margin: 0 auto;
}

.title-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
}

.team-li {
  background-color: var(--white--background--white);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  overflow: hidden;
  width: 100%;
}

.team-text {
  padding: 32px 0;
}

.title-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
  margin-bottom: 8px;
}

.title-name-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--slate);
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.social-list .social-list-link {
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: var(--iris);
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.social-list-link {
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--ocean);
}

.social-list-icon {
  fill: var(--cloud);
  margin: 12px;
}

/* ============ SECTION FOUR ============ */

.title-portfolio {
  text-transform: capitalize;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
  margin-bottom: 72px;
}

.title-portfolio-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 48px;
}

.title-portfolio-li {
  width: 100%;
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title-portfolio-li:hover {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.title-portfolio-list:hover .overlay-text {
  transform: translateY(0);
}

.portfolio-list-text {
  border-radius: 0;
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.overlay-box {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  letter-spacing: 0.02em;
  color: var(--cloud);
  line-height: 1.5;
  position: absolute;
  font-size: 16px;
  padding: 40px 32px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-title-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 8px;
}

.title-text-portfolio {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

/* ============ SECTION FOOTER ============ */

.footer {
  background-color: var(--navy-blue);
  padding: 100px 0;
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 72px;
  text-align: center;
}

.logo-link-footer {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  margin-bottom: 16px;
  display: inline-block;
}

.logo-footer {
  color: var(--cloud);
}

.footer-text {
  width: 288px;
  text-align: left;
  letter-spacing: 0.02em;
  color: var(--cloud);
}

.social-media-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
  margin-bottom: 16px;
}

.social-media-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.social-footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: var(--iris);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-footer-icon {
  fill: var(--cloud);
}

.social-media-container .social-footer-link:hover,
.social-media-container .social-footer-link:focus {
  background-color: var(--green);
}

.footer-input-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
  margin-bottom: 16px;
}

.footer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.input-form {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--white);
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  padding-left: 16px;
  background-color: transparent;
  padding: 8px 16px;
}

.input-form::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--white);
}

.footer-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  border-radius: 4px;
  min-width: 165px;
  height: 40px;
  background-color: var(--iris);
  padding: 8px 24px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--white);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-btn:hover,
.footer-btn:focus {
  background-color: var(--ocean);
}

.button-icon {
  fill: var(--white);
  margin-left: 16px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ============ MODAL OVERLAY ============ */

.modal-overlay {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
  opacity: 1;
  pointer-events: all;
  visibility: visible;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 288px;
  min-height: 623px;
  padding: 72px 24px 24px 24px;
  background: var(--dairy);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-icon-close {
  fill: var(--navy-blue);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  border: none;
  fill: var(--white);
  background-color: var(--ocean);
}

.modal-overlay-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
  margin-bottom: 16px;
}

.form-field-wrapper {
  margin-bottom: 8px;
}

.form-field-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
  display: block;
  margin-bottom: 4px;
}

.form-field-label-icon {
  position: relative;
}

.form-field-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field-input:focus {
  border-color: var(--iris);
}

.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--navy-blue);
}

.form-field-input:focus + .modal-icon {
  fill: var(--iris);
}

.form-comment {
  margin-bottom: 16px;
}

.text-area {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-area:focus {
  border-color: var(--iris);
}

.checkbox-div {
  margin-bottom: 24px;
}

.form-checkbox {
}

.form-checkbox:checked + .user-privacy .checkbox-span {
  background-color: var(--ocean);
  border: none;
  fill: var(--cloud);
}

.user-privacy {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
}

.checkbox-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.checkbox-modal-icon {
}

.privacy-policy {
  color: var(--iris);
}

.checkbox-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  cursor: pointer;
  background-color: var(--iris);
  border: none;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-resolution: 192dpi) and (min-width: 320px) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/section-one/hero-bg-mob@2x-min.png");
  }
}

/* ============ TABLE ============ */
/* ============ HEADER STYLES ============ */

@media (min-width: 768px) {
  .navigation {
    display: flex;
    align-items: center;
  }

  .logo-link {
    margin-right: 120px;
  }

  .menu {
    display: flex;
    gap: 40px;
  }

  .nav-link {
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    padding: 24px 0;
    display: inline-block;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link:hover,
  .nav-link:focus {
    color: var(--pressed--state--ocean);
  }

  .current {
    position: relative;
    color: var(--pressed--state--ocean);
  }

  .current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: var(--pressed--state--ocean);
    border-radius: 2px;
    height: 4px;
    width: 100%;
  }

  .address {
    display: block;
    font-style: normal;
  }

  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .auth-nav {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--slate);
    padding: 0;
    display: inline-block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .auth-nav:hover,
  .auth-nav:focus {
    color: var(--ocean);
  }

  .btn-burger {
    display: none;
  }
  .mobail-menu {
    display: none;
  }

  /* ============ SECTION ONE ============ */

  .hero {
    padding: 112px 0;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/section-one/hero-bg-tab-min.jpg");
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin: 0 auto 36px auto;
  }

  /* ============ SECTION TWO ============ */

  .list-title-text {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .list-title {
    width: calc((100% - 24px) / 2);
  }

  .title-text {
    text-align: left;
  }

  /* ============ SECTION THREE ============ */

  .list-title-team {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px 24px;
  }

  .team-li {
    width: calc((100% - 186px) / 2);
  }

  /* ============ SECTION FOUR ============ */

  .title-portfolio-list {
    flex-direction: row;
    gap: 72px 24px;
  }

  .title-portfolio-li {
    width: calc((100% - 24px) / 2);
  }

  /* ============ SECTION FOOTER ============ */

  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
    padding-left: 108px;
    text-align: left;
  }

  .footer-text {
    width: 264px;
  }

  .footer-form {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  .modal {
    width: 408px;
    min-height: 584px;
  }
}

@media (min-resolution: 192dpi) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/section-one/hero-bg-tab@2x-min.jpg");
  }
}

@media (min-width: 1158px) {
  /* ============ DESK ============ */
  /* ============ HEADER STYLES ============ */

  .logo-link {
    margin-right: 76px;
  }

  .contacts-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .nav-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
  }

  .section {
    padding: 120px 0;
  }

  /* ============ SECTION ONE ============ */

  .hero {
    padding: 188px 0;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/section-one/hero-bg-desk-min.jpg");
  }

  .hero-title {
    font-size: 56px;
    margin: 0 auto 48px auto;
  }

  .list-title {
    width: calc((100% - 72px) / 4);
  }

  .icon-directions {
    display: flex;
  }

  .title-text {
    font-size: 20px;
    font-weight: 500;
  }

  .title-directions-text {
    font-weight: 400;
  }

  /* ============ SECTION THREE ============ */

  .list-title-team {
    gap: 24px;
  }

  .team-li {
    width: calc((100% - 72px) / 4);
  }

  /* ============ SECTION FOUR ============ */

  .title-portfolio-list {
    gap: 48px 24px;
  }

  .title-portfolio-li {
    width: calc((100% - 48px) / 3);
  }

  /* ============ SECTION FOOTER ============ */

  .footer-container {
    align-items: baseline;
    gap: 0;
    padding-left: 0;
    text-align: left;
  }

  .footer-logo {
    margin-right: 120px;
  }

  .social-media-container {
    margin-right: 80px;
  }
}
@media (min-resolution: 192dpi) and (min-width: 1158px) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/section-one/hero-bg-desk@2x-min.jpg");
  }
}
